<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="parking.css">
</head>
<body>
    <canvas id="stars"></canvas>
    <div class="slider">
        <input type="range" min="0.5" max="15" value="1" step="0.5" > Speed: <span id="speed"></span>
    </div>

    <div class="m-3 grid grid-cols-2 gap-1 divide-x-4 divide-green-500 divide-dashed">
        <div class="bg-black">
                <h4 class='p-4 text-4xl text-green-500'>User Info</h4>
                <label class='ml-5 text-green-500'>Name : </label>
                <label class='italic text-yellow-200'>Vicky</label><br>
                <label class='ml-5 text-green-500'>Email : </label>
                <label class='italic text-yellow-200'>abc@abc.com</label><br>
                <label class='ml-5 text-green-500'>Type of vehicle : </label>
                <label class='italic text-yellow-200'>SUV</label><br>
                <label class='ml-5 text-green-500'>CostPerHour : </label>
                <label class='italic text-yellow-200'>$30</label><br>
                <div class="m-10">
                    <a href="https://www.animatedimages.org/cat-cars-67.htm"><img src="https://www.animatedimages.org/data/media/67/animated-car-image-0167.gif" border="0" alt="animated-car-image-0167" /></a>
            </div>
        </div>
        <div name='Vechile_Info' class="pl-4 bg-black">
            <h4 class='p-4 text-4xl text-green-500'>Vehicle Info</h4>
            <label class='ml-5 text-green-500'>Model : </label><br>
            <label class='ml-5 text-green-500'>checkIn time : </label><br>
            <label class='ml-5 text-green-500'>Slot available : </label><br>
            <div class="m-10">
                <a href="https://www.animatedimages.org/cat-cars-67.htm"><img src="https://www.animatedimages.org/data/media/67/animated-car-image-0167.gif" border="0" alt="animated-car-image-0167" /></a>
            </div>
        </div>
    </div>
    <div name='slot map'class="bg-black rounded-lg ">
        <p class="text-center text-green-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi laboriosam porro velit optio, atque quia quos tempora quam ad vero dicta aspernatur error et omnis unde! At labore ad tempore?</p>
    </div>
    <div class='m-5 divide-y-4 divide-green-500 divide-dashed'>
</body>
</html>